<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.earthlingz.oerszebra"
          android:installLocation="auto"
          android:label="Reversatile">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="26"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".Reversatile"
            android:allowBackup="true"
            android:extractNativeLibs="false"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
        <activity
                android:name=".DroidZebra"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:multiprocess="false"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="message/rfc822"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SettingsPreferences"
                android:allowTaskReparenting="false"
                android:label="@string/settings_title"
                android:launchMode="standard"
                android:multiprocess="false"
                android:noHistory="false"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"/>
        <activity
                android:name=".guessmove.GuessMoveActivity"
                android:parentActivityName=".DroidZebra"
                android:label="@string/guess_best_title"
        >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.earthlingz.oerszebra.DroidZebra" />

        </activity>
    </application>

</manifest>